################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SportsBook/v16/Server/sqlite3/storage.ide-wal
/.vs/SportsBook/v16/Server/sqlite3/storage.ide-shm
/.vs/SportsBook/v16/Server/sqlite3/storage.ide
/.vs/SportsBook/v16/Server/sqlite3/db.lock
/.vs/SportsBook/v16/Server/sqlite3
/.vs/SportsBook/v16/.suo
/.vs/SportsBook/v16
/.vs/SportsBook/DesignTimeBuild/.dtbcache
/.vs/SportsBook/DesignTimeBuild
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.pdb
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.exe
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.dll
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.csprojAssemblyReference.cache
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.csproj.FileListAbsolute.txt
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.csproj.CopyComplete
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.assets.cache
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.AssemblyInfoInputs.cache
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.AssemblyInfo.cs
/SportsBook/obj/Debug/netcoreapp3.1
/SportsBook/obj
/SportsBook/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Diagnostics.EventLog.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.runtimeconfig.json
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.runtimeconfig.dev.json
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.pdb
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.pdb
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.dll
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.exe
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.Domain.pdb
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.Domain.dll
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.dll
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.deps.json
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-x86/native
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-x64/native
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.EventLog.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib
/SportsBook/bin/Debug/netcoreapp3.1/runtimes
/SportsBook/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventSource.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventLog.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/SportsBook/bin/Debug/netcoreapp3.1
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.pdb
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.dll
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.csprojAssemblyReference.cache
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.csproj.FileListAbsolute.txt
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.assets.cache
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.AssemblyInfoInputs.cache
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.AssemblyInfo.cs
/SportsBook.Services/obj/Debug/netcoreapp3.1
/SportsBook.Services/obj
/SportsBook.Domain/bin/Debug/netcoreapp3.1/SportsBook.Domain.pdb
/SportsBook.Domain/bin/Debug/netcoreapp3.1/SportsBook.Domain.dll
/SportsBook.Domain/bin/Debug/netcoreapp3.1/SportsBook.Domain.deps.json
/SportsBook.Domain/obj/SportsBook.Domain.csproj.nuget.g.targets
/SportsBook.Domain/obj/SportsBook.Domain.csproj.nuget.g.props
/SportsBook.Domain/obj/SportsBook.Domain.csproj.nuget.dgspec.json
/SportsBook.Domain/obj/SportsBook.Domain.csproj.nuget.cache
/SportsBook.Domain/obj/project.assets.json
/SportsBook.Domain/obj/Debug/netstandard2.0/SportsBook.Domain.csprojAssemblyReference.cache
/SportsBook.Domain/obj/Debug/netstandard2.0/SportsBook.Domain.assets.cache
/SportsBook.Domain/obj/Debug/netstandard2.0/SportsBook.Domain.AssemblyInfoInputs.cache
/SportsBook.Domain/obj/Debug/netstandard2.0/SportsBook.Domain.AssemblyInfo.cs
/SportsBook.Domain/obj/Debug/netstandard2.0
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.pdb
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.dll
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.csprojAssemblyReference.cache
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.csproj.FileListAbsolute.txt
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.assets.cache
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.AssemblyInfoInputs.cache
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.AssemblyInfo.cs
/SportsBook.Domain/obj/Debug/netcoreapp3.1
/SportsBook.Domain/obj/Debug
/SportsBook.Domain/obj
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.runtimeconfig.json
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.runtimeconfig.dev.json
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.pdb
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.dll
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.deps.json
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Domain.pdb
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Domain.dll
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1
/SportsBook.Infrastructure/obj/SportsBook.Infrastructure.csproj.nuget.g.targets
/SportsBook.Infrastructure/obj/SportsBook.Infrastructure.csproj.nuget.g.props
/SportsBook.Infrastructure/obj/SportsBook.Infrastructure.csproj.nuget.dgspec.json
/SportsBook.Infrastructure/obj/SportsBook.Infrastructure.csproj.nuget.cache
/SportsBook.Infrastructure/obj/project.assets.json
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.pdb
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.dll
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.csprojAssemblyReference.cache
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.csproj.FileListAbsolute.txt
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.csproj.CopyComplete
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.assets.cache
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.AssemblyInfoInputs.cache
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.AssemblyInfo.cs
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1
/SportsBook.Infrastructure/obj
/SportsBook.Services/bin/Debug/netcoreapp3.1/SportsBook.Services.pdb
/SportsBook.Services/bin/Debug/netcoreapp3.1/SportsBook.Services.dll
/SportsBook.Services/bin/Debug/netcoreapp3.1/SportsBook.Services.deps.json
/SportsBook.Services/bin/Debug/netcoreapp3.1
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hant
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/zh-Hans
/SportsBook.Tests/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/xunit.core.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/xunit.assert.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/tr
/SportsBook.Tests/bin/Debug/netcoreapp3.1/testhost.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/SportsBook.Tests.runtimeconfig.json
/SportsBook.Tests/bin/Debug/netcoreapp3.1/SportsBook.Tests.runtimeconfig.dev.json
/SportsBook.Tests/bin/Debug/netcoreapp3.1/SportsBook.Tests.pdb
/SportsBook.Tests/bin/Debug/netcoreapp3.1/SportsBook.Tests.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/SportsBook.Tests.deps.json
/SportsBook.Tests/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.pdb
/SportsBook.Tests/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/SportsBook.Domain.pdb
/SportsBook.Tests/bin/Debug/netcoreapp3.1/SportsBook.Domain.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win-x86/native
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win-x64/native
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/win/lib
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes/unix/lib
/SportsBook.Tests/bin/Debug/netcoreapp3.1/runtimes
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ru
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pt-BR
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/pl
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Moq.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ko
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/ja
/SportsBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/it
/SportsBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/fr
/SportsBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/es
/SportsBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/de
/SportsBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1/cs
/SportsBook.Tests/bin/Debug/netcoreapp3.1/Castle.Core.dll
/SportsBook.Tests/bin/Debug/netcoreapp3.1
/SportsBook.Tests/obj/SportsBook.Tests.csproj.nuget.g.targets
/SportsBook.Tests/obj/SportsBook.Tests.csproj.nuget.g.props
/SportsBook.Tests/obj/SportsBook.Tests.csproj.nuget.dgspec.json
/SportsBook.Tests/obj/SportsBook.Tests.csproj.nuget.cache
/SportsBook.Tests/obj/project.assets.json
/SportsBook.Tests/obj/Debug/netcoreapp3.1/SportsBook.Tests.pdb
/SportsBook.Tests/obj/Debug/netcoreapp3.1/SportsBook.Tests.dll
/SportsBook.Tests/obj/Debug/netcoreapp3.1/SportsBook.Tests.csprojAssemblyReference.cache
/SportsBook.Tests/obj/Debug/netcoreapp3.1/SportsBook.Tests.csproj.FileListAbsolute.txt
/SportsBook.Tests/obj/Debug/netcoreapp3.1/SportsBook.Tests.csproj.CopyComplete
/SportsBook.Tests/obj/Debug/netcoreapp3.1/SportsBook.Tests.assets.cache
/SportsBook.Tests/obj/Debug/netcoreapp3.1/SportsBook.Tests.AssemblyInfoInputs.cache
/SportsBook.Tests/obj/Debug/netcoreapp3.1/SportsBook.Tests.AssemblyInfo.cs
/SportsBook.Tests/obj/Debug/netcoreapp3.1
