################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SportsBook/v16/Server/sqlite3/storage.ide-wal
/.vs/SportsBook/v16/Server/sqlite3/storage.ide-shm
/.vs/SportsBook/v16/Server/sqlite3/storage.ide
/.vs/SportsBook/v16/Server/sqlite3/db.lock
/.vs/SportsBook/v16/Server/sqlite3
/.vs/SportsBook/v16/.suo
/.vs/SportsBook/v16
/.vs/SportsBook/DesignTimeBuild/.dtbcache
/.vs/SportsBook/DesignTimeBuild
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.pdb
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.exe
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.dll
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.csprojAssemblyReference.cache
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.csproj.FileListAbsolute.txt
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.csproj.CopyComplete
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.assets.cache
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.AssemblyInfoInputs.cache
/SportsBook/obj/Debug/netcoreapp3.1/SportsBook.AssemblyInfo.cs
/SportsBook/obj/Debug/netcoreapp3.1
/SportsBook/obj
/SportsBook/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Diagnostics.EventLog.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/SportsBook/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.runtimeconfig.json
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.runtimeconfig.dev.json
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.pdb
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.pdb
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.dll
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.exe
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.Domain.pdb
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.Domain.dll
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.dll
/SportsBook/bin/Debug/netcoreapp3.1/SportsBook.deps.json
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-x86/native
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-x64/native
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.EventLog.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/win/lib
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0
/SportsBook/bin/Debug/netcoreapp3.1/runtimes/unix/lib
/SportsBook/bin/Debug/netcoreapp3.1/runtimes
/SportsBook/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventSource.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventLog.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/SportsBook/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/SportsBook/bin/Debug/netcoreapp3.1
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.pdb
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.dll
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.csprojAssemblyReference.cache
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.csproj.FileListAbsolute.txt
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.assets.cache
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.AssemblyInfoInputs.cache
/SportsBook.Services/obj/Debug/netcoreapp3.1/SportsBook.Services.AssemblyInfo.cs
/SportsBook.Services/obj/Debug/netcoreapp3.1
/SportsBook.Services/obj
/SportsBook.Domain/bin/Debug/netcoreapp3.1/SportsBook.Domain.pdb
/SportsBook.Domain/bin/Debug/netcoreapp3.1/SportsBook.Domain.dll
/SportsBook.Domain/bin/Debug/netcoreapp3.1/SportsBook.Domain.deps.json
/SportsBook.Domain/obj/SportsBook.Domain.csproj.nuget.g.targets
/SportsBook.Domain/obj/SportsBook.Domain.csproj.nuget.g.props
/SportsBook.Domain/obj/SportsBook.Domain.csproj.nuget.dgspec.json
/SportsBook.Domain/obj/SportsBook.Domain.csproj.nuget.cache
/SportsBook.Domain/obj/project.assets.json
/SportsBook.Domain/obj/Debug/netstandard2.0/SportsBook.Domain.csprojAssemblyReference.cache
/SportsBook.Domain/obj/Debug/netstandard2.0/SportsBook.Domain.assets.cache
/SportsBook.Domain/obj/Debug/netstandard2.0/SportsBook.Domain.AssemblyInfoInputs.cache
/SportsBook.Domain/obj/Debug/netstandard2.0/SportsBook.Domain.AssemblyInfo.cs
/SportsBook.Domain/obj/Debug/netstandard2.0
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.pdb
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.dll
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.csprojAssemblyReference.cache
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.csproj.FileListAbsolute.txt
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.assets.cache
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.AssemblyInfoInputs.cache
/SportsBook.Domain/obj/Debug/netcoreapp3.1/SportsBook.Domain.AssemblyInfo.cs
/SportsBook.Domain/obj/Debug/netcoreapp3.1
/SportsBook.Domain/obj/Debug
/SportsBook.Domain/obj
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.runtimeconfig.json
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.runtimeconfig.dev.json
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.pdb
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.dll
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Infrastructure.deps.json
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Domain.pdb
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1/SportsBook.Domain.dll
/SportsBook.Infrastructure/bin/Debug/netcoreapp3.1
/SportsBook.Infrastructure/obj/SportsBook.Infrastructure.csproj.nuget.g.targets
/SportsBook.Infrastructure/obj/SportsBook.Infrastructure.csproj.nuget.g.props
/SportsBook.Infrastructure/obj/SportsBook.Infrastructure.csproj.nuget.dgspec.json
/SportsBook.Infrastructure/obj/SportsBook.Infrastructure.csproj.nuget.cache
/SportsBook.Infrastructure/obj/project.assets.json
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.pdb
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.dll
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.csprojAssemblyReference.cache
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.csproj.FileListAbsolute.txt
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.csproj.CopyComplete
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.assets.cache
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.AssemblyInfoInputs.cache
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1/SportsBook.Infrastructure.AssemblyInfo.cs
/SportsBook.Infrastructure/obj/Debug/netcoreapp3.1
/SportsBook.Infrastructure/obj
/SportsBook.Services/bin/Debug/netcoreapp3.1/SportsBook.Services.pdb
/SportsBook.Services/bin/Debug/netcoreapp3.1/SportsBook.Services.dll
/SportsBook.Services/bin/Debug/netcoreapp3.1/SportsBook.Services.deps.json
